/**
 * File: base.less
 * 
 * Description: Defines default styles for html tags
 */

//  import font
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); // Noto Sans
// @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');  // Radio Canada
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"); // Space Mono
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); // Inter
@font-face {
    font-family: "Faktum";
    font-style: normal;
    font-weight: normal;
    src: local("Faktum"), url("../font/Faktum_700.otf") format("truetype");
}

:root {
    --main-color: rgb(20, 99, 255);
    --caution-color: #f04e4e;
    --black-8: rgba(0, 0, 0, 0.88);
    --black-6: rgba(0, 0, 0, 0.66);
    --black-4: rgba(0, 0, 0, 0.44);
    --black-2: rgba(0, 0, 0, 0.22);
    --text-green: #00a020;
    --green: #5ad858;
}

* {
    box-sizing: border-box;
}

// @media all and (min-width: 1200px) {
//     ._root {
//         font-size: 20px;

//         .landing-page-root,
//         .nav-bar-root,
//         .service-page-main {
//             font-size: 16px;
//         }
//     }
// }

// @media all and (max-width: 1199px) {
//     ._root {
//         font-size: 18px;

//         .landing-page-root,
//         .nav-bar-root,
//         .service-page-main {
//             font-size: 16px;
//         }
//     }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

hr {
    background: rgba(255, 255, 255, 0.1);
    height: 1px;
    border: 0;
    margin: 1rem 0;
}

b {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-color);

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.5;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("@/assets/img/landingpage/icon_dropdown.svg") no-repeat
            right 0.875rem center,
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.05) 100%
        ),
        #16171a;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 2.4rem 0 1.25rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    outline: none;
    min-height: 3rem;

    &:disabled {
        opacity: 0.5;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:not(:disabled):hover {
        border-color: #0a4df1;
    }
}

input {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.05) 100%
        ),
        #16171a;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 1.25rem;
    min-height: 3rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    outline: none;

    &::placeholder {
        color: #999;
    }

    &:focus,
    &:hover,
    &:active(:not(:disabled)) {
        border-color: #0a4df1;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px #222225 inset;
        box-shadow: 0 0 0px 1000px #222225 inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:autofill,
    &:autofill:hover,
    &:autofill:focus,
    &:autofill:active {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px #222225 inset;
        box-shadow: 0 0 0px 1000px #222225 inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: default;
    }

    &.block {
        width: 100%;
    }

    &.inline {
        width: auto;
    }
}

form {
    label:not(._checkbox) {
        display: block;
        font-size: 16px;

        input {
            margin-top: 8px;
        }
    }

    a {
        font-size: 16px;
    }
}

button,
.btn {
    position: relative;
    display: inline-flex;
    max-width: 240px;
    padding: 0.8438rem 1.25rem;
    width: 100%;
    height: 2.75rem;
    min-height: 2.75rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0.4375rem;
    background: #0a4df1;
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
    outline: none;
    cursor: pointer;

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: default;
    }

    &:hover {
        text-decoration: none;

        &::after {
            opacity: 1;
        }
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, 0.05);
        opacity: 0;
    }

    &.sm {
        padding: 0.625rem 1rem;
        font-size: 0.875rem;
        width: auto;
    }

    &.dark {
        background-color: #16171a;
    }

    &.gray {
        background-color: rgba(34, 35, 37, 1);

        &.caution {
            &:hover {
                background-color: var(--caution-color);
            }
        }
    }

    &.red {
        background-color: var(--caution-color);
    }

    &.block {
        max-width: unset;
    }

    &.inline {
        padding: 0.875rem 1.25rem;
        width: auto;
    }

    &.icon-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        svg,
        img {
            width: 18px;
            height: 18px;
            fill: #fff;
        }
    }

    &.only-icon {
        width: auto;
        padding: 0;

        .icon {
            margin: 12px;
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &.selected {
        box-shadow: 0 0 0 1px var(--main-color) inset;
    }

    @media (max-width: 430px) {
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }
}

.btn {
    max-width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #16171a;
    color: #fff;
    font-family: "Inter", "Faktum", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 400; // 기본 굵기 400 - 특정 모니터에서 폰트가 너무 얇아 보이는 경우가 있었음

    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    letter-spacing: -0.3px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: default;
}
svg {
    vertical-align: middle;
}
