/**
 * File: main.less
 * 
 * Description: Defines styles for commonly used html classes
 */

@import "@/assets/less/base.less";

.wordset {
    display: inline-block;
}

.disabled {
    opacity: 0.6;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.error {
    display: flex;
    gap: 4px;
    color: var(--caution-color) !important;
    font-size: 14.2px;
    font-weight: 400;

    svg {
        margin-top: -4px;
        fill: var(--caution-color) !important;
        height: 24px;
        width: 24px;
    }

    * {
        color: var(--caution-color);
    }
}

.moreVert {
    position: absolute;
    left: var(--moreVert-left);
    right: var(--moreVert-right);
    width: var(--moreVert-width);
    top: calc(100% + 8px);
    // margin-top: 4px;
    z-index: 99;
    cursor: default;

    .inner {
        width: 100%;
        box-shadow: 8px 12px 36px 0px rgba(225, 225, 225, 0.04);
        border-radius: 8px;
        background: #16171a;
        border: 1px solid rgba(255, 255, 255, 0.1);
        // padding: 0.625rem 0;
        // color: rgba(225, 225, 225, 0.8);
        color: #fff;
        overflow: hidden;

        button {
            border-radius: 0;
            background: transparent;
        }

        label._checkbox {
            display: flex;
            padding: 0.3125rem 0.625rem;
            opacity: 0.6 !important;

            svg {
                margin-right: 4px !important;
            }

            &:first-child {
                padding-top: 0.625rem;
            }

            &:last-child {
                padding-bottom: 0.625rem;
            }

            &:hover {
                opacity: 1 !important;
            }
        }

        .more {
            // width: 100px;
            margin-bottom: 0.8rem;
            padding: 0 1rem;
            text-align: left;
            cursor: pointer;
            white-space: nowrap;
            // color: rgba(0, 0, 0, 0.6);
            font-size: 0.8rem;
            // font-weight: 300;
            cursor: pointer !important;

            &:first-child {
                padding-top: 0.8rem;
            }

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0.8rem;
            }

            span {
                font-size: 0.8rem;
                margin-left: 0.6rem;
            }
        }

        .filter {
            width: 135px;
            margin-bottom: 0.8rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    svg {
        margin: 0 !important;
        width: 1.375rem;
        height: 1.375rem;
    }
}

.icon {
    cursor: pointer;
}

// .loading {
//   vertical-align: middle;
//   width: 24px;
//   height: 24px;
//   margin: 0 auto;
//   animation: rotate_image 1.5s linear infinite;
//   transform-origin: 50% 50%;
// }

// @keyframes rotate_image {
//   100% {
//     transform: rotate(360deg);
//   }
// }

.ellipsis {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.clickable {
    cursor: pointer !important;
}

.nonClickable {
    cursor: default !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
}

.loader {
    /* color: white; */
    padding: var(--loader-size);
    display: inline-block;
    vertical-align: middle;
    /* margin: 0px 0; */
    position: relative;
    z-index: 0;
    animation: spin 2s linear infinite;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        padding: calc(var(--loader-size) / 5);
        border-radius: 50%;
        background: conic-gradient(
            rgba(0, 0, 0, 0) 25%,
            var(--loader-color) 100%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.txt-sm {
    font-size: 0.875rem !important;
}

.txt-required {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: #ecec30;
    text-align: right;
    margin-bottom: 0.5rem;
}

.label,
.text {
    position: relative;

    &.required {
        &::after {
            content: "*";
            display: inline-block;
            font-size: 1rem;
            color: #ecec30;
            position: absolute;
            top: 0;
            right: -14px;
            width: 10px;
            height: 10px;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-docs {
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}
